
@{
    ViewBag.Title = "NuevoAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <form action="/Admin/NuevoAdmin" method="post">
        <label>Nombre: <input type="text" name="nombre" /></label><br />
        <label>Apellido: <input type="text" name="apellido"/></label><br />
        <label>Usuario: <input type="text" name="usuario"/></label><br />
        <label>Rol: <select name="rol"><option value="1">Admin</option>
                                       <option value="2">Cliente</option>
        </select></label><br />
        <label>Password: <input type="text" name="pass"/></label><br />
        <input type="submit" value="Registrar" />
        
    </form>
</div>
